<h1> Hi there, <%=userName%> </h1>

<h3> new thing </h3>

<form method="post" action="/saveToNode">
    <label>do that data</label>
    <input type="text" name="userName">
    <input type="submit" value="send to node via express">
</form>